@font-face {
  font-family: Baloo Regular;
  src: url(./Baloo/BalooTammudu2-Regular.ttf);
}

@font-face {
  font-family: Zcoo;
  src: url(./Zcoo.ttf);
}

@font-face {
  font-family: Dance;
  src: url(./Dance/DancingScript-Regular.ttf);
}

.zcoo {
  font-family: Zcoo;
}

.dance {
  font-family: Dance;
}

.baloo {
  font-family: Baloo Regular;
}
