@import './_theme.scss';

@function themed($key) {
  @return map-get($theme, $key);
}

@mixin background($color) {
  @if $color == 'light' {
    background-color: themed('bg-' + $color);
  }
  @if $color == 'dark' {
    background-color: themed('bg-' + $color);
  } @else {
    background-color: themed($color);
  }
}

@mixin primary($color) {
  color: themed($color);
}

@mixin bg-hover($color) {
  &:hover {
    background-color: themed($color + '-hover');
  }
}

@mixin border($color) {
  border: 1px solid themed('border-' + $color);
}

@mixin text-hover($color) {
  &:hover {
    color: themed($color + '-hover');
  }
}

@mixin color($color) {
  @if $color == 'light' {
    color: themed('font-' + $color);
  }
  @if $color == 'dark' {
    color: themed('font-' + $color);
  } @else {
    color: themed($color);
  }
}

@mixin size($size) {
  font-size: themed($size + '-size');
}

@mixin ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}
