:root {
  --theme: #3195ff;
  --bg-light: #d1e7ff;
  --bg-dark: #011831;

  --primary: #3195ff;
  --primary-dark: #2a77ca;
  --primary-hover: #4ea3ff;
  --primary-light: #4ea3ff;

  --success: #02c453;
  --success-hover: #1ae16d;
  --success-light: #1ae16d;

  --disabled: #aaaaaa;
  --disabled-hover: #aaaaaa;
  --disabled-light: #aaaaaa;

  --font-dark: #ffffff;
  --font-light: #ffffff;
  --border-dark: #333333;
  --border-light: #cccccc;

  --large-size: 18px;
  --middle-size: 14px;
  --small-size: 12px;
}

$theme: (
  primary: var(--primary),
  primary-dark: var(--primary-dark),
  primary-hover: var(--primary-hover),
  primary-light: var(--primary-light),
  success: var(--success),
  success-hover: var(--success-hover),
  success-light: var(--success-light),
  disabled: var(--disabled),
  disabled-hover: var(--disabled-hover),
  disabled-light: var(--disabled-light),
  bg-light: var(--bg-light),
  bg-dark: var(--bg-dark),
  font-dark: var(--font-dark),
  font-light: var(--font-light),
  border-dark: var(--border-dark),
  border-light: var(--border-light),
  large-size: var(--large-size),
  middle-size: var(--middle-size),
  small-size: var(--small-size),
);
