.animate {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cross-enter-from {
  transform: translateY(-10px);
  opacity: 0;
}
.cross-enter-active {
  transition: all 0.3s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.cross-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.cross-leave-from {
  transform: translateY(0);
  opacity: 1;
}
.cross-leave-active {
  transition: all 0.3s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.cross-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.left-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}
.left-enter-active {
  transition: all 0.3s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.left-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.left-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.left-leave-active {
  transition: all 0.3s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.card-enter-from {
  transform-origin: center;
  transform: scale(0.5);
  opacity: 0;
}
.card-enter-active {
  transform-origin: center;
  transition: all 0.5s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.card-enter-to {
  transform-origin: center;
  transform: scale(1);
  opacity: 1;
}

.card-leave-from {
  transform-origin: center;
  transform: scale(1);
  opacity: 1;
}

.card-leave-active {
  transform-origin: center;
  transition: all 0.5s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}

.card-leave-to {
  transform-origin: center;
  transform: scale(2);
  opacity: 0;
}

.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.2s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}
.fade-leave-active {
  transition: all 0.2s cubic-bezier(0.54, 0.27, 0.6, 0.86);
}
.fade-leave-to {
  opacity: 0;
}
