* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background: rgba($color: #000000, $alpha: 0);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.click-wave {
  overflow: hidden;
  position: relative;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

input[type='text'] {
  appearance: none;
  outline: none;
  border: none;
}

@import './theme';
@import './transition';
@import './handle';
@import './grid';
// @import '../assets/iconfont/index.css'
@import '../assets/iconfont/iconfont.css'